
body{
	width: 90%;
	margin: auto;
	background-color: #fafa;
}

#webname{
	background-color: lightgreen;
	border-radius: 8px;
	box-shadow: 2px 2px 5px #447748;
	margin: 0 0 5px 0;
	padding-bottom: 20px;
	text-align: center;
}

#webname h1{
	font-family: arial;
	font-size: 400%;
	margin: 5px 0px 0px 0px;
}
#webname h4{
	font-family: arial;
	font-size: 150%;
	color: white;
	
	text-decoration-line: overline;
	background-color: #447748;
	width: 80%;
	margin: auto;

}

/*navigations stuff here*/

.navigation{
	text-align: center;
	font-family: arial;
}

.navigation ul li{
	display: inline-block;
	background:#777;
	padding:5px 10px 5px 10px;
	color: white;
	margin: 0px 3px;
	border-radius: 3px;
	box-shadow: 5px 5px 6px #777;
}

.navigation ul li a{
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: arial;
}
.navigation ul li:hover{
	background-color: lightgreen;
	color:black;
	box-shadow: 5px 5px 5px #447748;
}

.navigation ul li a:hover{
	color: black;

}
/*navigation stuff und here*/


.first-paragraph{
	
	background-color: white;
	padding : 5px;
	margin: 0 0 10px 0;
	border-radius: 8px;
	font-family: arial;
}

.image-part{
	background-image: url(image-1.jpg);
	color: white;
	padding:10px 10px 0 10px;
	background-size: 100%;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-bottom: 30px;

}
.image-part h1{
	color: lightgreen;
	font-family: arial;
	margin: 0;
}
.image-part h3{
	color: lightgreen;
	font-family: arial;
	margin: 0;

}
.image-part p{
	padding-top: 30px;
	font-family: arial;
	
}
.pic-head{
	background-color: gray;
	border-bottom: 5px solid green;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px 2px 10px 5px;

}
.test{
	float: left;
	width: 33.3%;
	margin: auto;
	box-sizing: border-box;
	padding: 6px;
	margin-top: 90px;
}
.noh{
	padding-top: 20px;
	width: 33.3%;
	
	text-align: center;
}

/*Email stuffs are here*/
.mail{
	background-color: lightgreen;
	/*margin-bottom: 10px;*/
	font-size: 20px;
	font-family: arial;
}
.mail:hover{
		background-color: green;
		color: white;
	}
.mail a{
		text-decoration: none;
		color: black;
	}
.mail a:hover{
		color: white;
	}
.copyriht p{
	font-size: 10px;
	font-family: arial;
}
